@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
}

.container{
    width: 540px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.header h1{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.533px;
    margin-left: 7px;
}

.theme-selector{
    display: flex;
    align-items: flex-end;
}

.theme-selector p{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-left: 26px;
}

.input-label{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
}

#theme-selector-input{
    -webkit-appearance: none;
    width: 71px;
    padding: 6px 5px;
    border-radius: 13px;
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.result-container{
    height: 128px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}

.result{
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -0.933px;
    margin-right: 32px;
    word-break: break-all;
}

.calculator-operations-container{
    margin-top: 24px;
    border-radius: 10px;
    padding: 32px;
}

.calculator-operations-table{
    display: flex;
    justify-content: center;
}

.calculator-operations-table tbody{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.calculator-operations-row{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.calculator-operations-row td{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.667px;
    padding: 13px 15px;
    border-radius: 10px;
    background: #EAE3DC;
    box-shadow: 0px -4px 0px 0px #B3A497 inset;
    width: 101px;
    height: 64px;
    cursor: pointer;
}

.big-button{
    width: 227px !important;
    height: 64px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: #FFF !important;
    font-size: 28px !important;
    font-weight: 700 !important;
    letter-spacing: -0.467px !important;
    border-radius: 10px !important;
}

#del{
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Default Theme */

.default-theme{
    background:#3A4663;;
    transition: all .5s ease;
}

.default-theme .result{
    transition: all .5s ease;
    color: #FFF;
}

.default-theme .calculator-operations-row td{
    transition: all .5s ease;
    color: #36362C;
}

.default-theme .header span,
.default-theme .header h1,
.default-theme .header p{
    transition: all .5s ease;
    color: #fff;
}

.default-theme #theme-selector-input{
    transition: all .5s ease;
    background: #242D44;
}

.default-theme input[type="range"]::-webkit-slider-thumb{
    transition: all .5s ease;
    background: #C85402;
}

.default-theme .result-container{
    transition: all .5s ease;
    background: #242D44;
}

.default-theme #del,
.default-theme #reset{
    transition: all .5s ease;
    color: #fff;
    background: #647198;
    box-shadow: 0px -4px 0px 0px #414E73 inset;
}

.default-theme #equal{
    transition: all .5s ease;
    background: #D03F2F;
    color: #fff;
    box-shadow: 0px -4px 0px 0px #93261A inset;
}

.default-theme .calculator-operations-container{
    transition: all .5s ease;
    background: #242D44;
}


/* Light Theme */

.light-theme{
    background: #E6E6E6;
    transition: all .5s ease;
}

.light-theme .header h1,
.light-theme .header p,
.light-theme .header span,
.light-theme .result,
.light-theme .calculator-operations-row td{
    transition: all .5s ease;
    color: #36362C;
}

.light-theme #theme-selector-input{
    transition: all .5s ease;
    background: #D2CDCD;
}

.light-theme input[type="range"]::-webkit-slider-thumb{
    transition: all .5s ease;
    background: #C85402;
}

.light-theme .result-container{
    transition: all .5s ease;
    background: #EEE;
}

.light-theme #del,
.light-theme #reset{
    transition: all .5s ease;
    background: #378187;
    color: #fff;
    box-shadow: 0px -4px 0px 0px #1B6066 inset;
}

.light-theme #equal{
    transition: all .5s ease;
    background: #C85402;
    box-shadow: 0px -4px 0px 0px #873901 inset;
}

.light-theme .calculator-operations-container{
    transition: all .5s ease;
    background: #D2CDCD;
}

/* Purple Theme */

.purple-theme{
    background: #17062A;
    transition: all .5s ease;
}

.purple-theme .header h1,
.purple-theme .header p,
.purple-theme .header span,
.purple-theme .result,
.purple-theme .calculator-operations-row td{
    color: #FFF;
    transition: all .5s ease;
}

.purple-theme #theme-selector-input{
    background: #1E0936;
    transition: all .5s ease;
}

.purple-theme input[type="range"]::-webkit-slider-thumb{
    transition: all .5s ease;
    background: #00DED0;
}

.purple-theme .result-container{
    background: #1E0936;
    transition: all .5s ease;
}

.purple-theme #del,
.purple-theme #reset{
    background: #56077C;
    box-shadow: 0px -4px 0px 0px #BE15F4 inset;
    transition: all .5s ease;
}

.purple-theme .calculator-operations-container{
    background: #1E0936;
    transition: all .5s ease;
}

.purple-theme .number,
.purple-theme .operator{
    background: #331C4D;
    box-shadow: 0px -4px 0px 0px #881C9E inset;
    transition: all .5s ease;
}

.purple-theme #equal{
    background: #00DED0;
    box-shadow: 0px -4px 0px 0px #6CF9F1 inset;
    color: #1A2327 !important;
    transition: all .5s ease;
}